@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    outline: red dashed 1px;
    box-sizing: border-box;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344648;
    color: white;
    padding: 0.938rem;
    opacity: 1;
}

.name1 {
    margin-left: 0px;
    font-size: 1.563rem;
    letter-spacing: 1.25rem;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav {
    margin-right: 0rem;
}

nav ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    display: flex;
}

nav ul li {
    margin-right: 1.25rem;
}

nav ul li:last-child {
    margin-right: 0rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    display: none;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 50rem) {
    nav ul {
        display: none;
    }

    .dropdown {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: #fff;
        padding: 0.625rem;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.custom-shape-divider-top-1684111336 {
    position: absolute;
    top: 8%;
    left: 0rem;
    width: 100%;
    overflow: hidden;
    line-height: 0rem;
}

.custom-shape-divider-top-1684111336 svg {
    position: relative;
    display: block;
    width: calc(100% + 0.081rem);
    height: 2.938rem;
}

.custom-shape-divider-top-1684111336 .shape-fill {
    fill: #344648;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem;
}

.grid-item {
    background-color: lightgray;
    height: 20rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item p {
    text-align: center;
}

.grid-item img {
    background-repeat: no-repeat;
}


@media screen and (max-width: 50rem) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.grid-item .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0rem;
    overflow: hidden;
    border-radius: 0rem;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    color: black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 2rem;
}

.content .para {
    line-height: 1.5;
}

.content:hover {
    color: #e8e8e8;
    text-decoration: none;
    padding: 0.625rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 0.313rem;
    box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.313rem;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}