@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    outline: red dashed 1px;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344648;
    color: white;
    padding: 0.938rem;
    opacity: 1;
}

.name1 {
    margin-left: 0rem;
    font-size: 1.563rem;
    letter-spacing: 1.25rem;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav {
    margin-right: 0rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1.25rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    display: none;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 50rem) {
    nav ul {
        display: none;
    }

    .dropdown {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #333;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: #fff;
        padding: 0.625rem;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Contents */
.topfive {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.125rem;
}

.parent-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.child-div {
    padding: 1rem;
    flex: 1;
    height: auto;
    width: auto;
    background-color: transparent;
}

/* Quotes content */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.quote-card {
    background: $default;
    color: $defaultTextColor;

    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba($black, 0.12);

    position: relative;
    overflow: hidden;
    min-height: 120px;

    p {
        font-size: 22px;
        line-height: 1.5;
        margin: 0;
        max-width: 80%;
    }

    cite {
        font-size: 16px;
        margin-top: 10px;
        display: block;
        font-weight: 200;
        opacity: 0.8;
    }

    &:before {
        font-family: Georgia, serif;
        content: "“";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 5em;
        color: rgba($defaultSecondaryTextColor, 0.8);
        font-weight: normal;
    }

    &:after {
        font-family: Georgia, serif;
        content: "”";
        position: absolute;
        bottom: -110px;
        line-height: 100px;
        right: -32px;
        font-size: 25em;
        color: rgba($defaultSecondaryTextColor, 0.8);
        font-weight: normal;
    }

    @media(max-width: 640px) {
        &:after {
            font-size: 22em;
            right: -25px;
        }
    }


    &.blue-card {
        background: $blue;
        color: $blueTextColor;
        box-shadow: 0 1px 2px rgba($black, 0.12), 0 2px 4px rgba($black, 0.24);

        &:before,
        &:after {
            color: $blueSecondaryTextColor;
        }
    }

    &.red-card {
        background: $red;
        color: $redTextColor;
        box-shadow: 0 1px 2px rgba($black, 0.12), 0 2px 4px rgba($black, 0.24);

        &:before,
        &:after {
            color: $redSecondaryTextColor;
        }
    }

    &.yellow-card {
        background: $yellow;
        color: $yellowTextColor;
        box-shadow: 0 1px 2px rgba($black, 0.12), 0 2px 4px rgba($black, 0.24);

        &:before,
        &:after {
            color: $yellowSecondaryTextColor;
        }
    }
}


.credits {
    margin-top: 80px;

    a {
        color: $black;
        text-decoration: none;
        text-shadow: 0 0 2px rgba($black, 0.24);
        padding-bottom: 1px;
        display: inline-block;
        border-bottom: 1px dashed rgba($black, 0.24);
        opacity: 0.6;

        transition: 0.3s all ease-in;


        &:hover {
            border-bottom-style: solid;
            opacity: 1;
        }
    }
}