@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    outline: red dashed 1px;
}

body {
    overflow-x: hidden;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344648;
    color: white;
    padding: 0.938rem;
    opacity: 1;
}

.name1 {
    margin-left: 0rem;
    font-size: 1.563rem;
    letter-spacing: 1.25rem;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav {
    margin-right: 0rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1.25rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    display: none;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 50rem) {
    nav ul {
        display: none;
    }

    .dropdown {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #333;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: #fff;
        padding: 0.625rem;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Timeline with songs */
:root {
    --primary: #37a9e1;
    --primary-gradient: linear-gradient(45deg, #153c7e 0%, #37a9e1 100%);
}

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-header hr {
    border: 1px solid #fff;
    width: 56px;
}

.bg-gradient_solid {
    background: var(--primary-gradient);
    color: #fff;
    padding: 48px 0;
}

.steps {
    position: relative;
    margin-top: 32px;
}

.steps::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 50%;
}

.steps .content p {
    color: #676767;
    font-size: 16px;
}

.steps .content h2 {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.steps-container {
    position: relative;
    background-color: inherit;
    width: calc(50% + 32px);
}

.steps-container .content {
    padding: 32px;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 80px 0px;
    box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
    left: calc(50% - 32px);
    flex-direction: row-reverse;
}

.steps-container {
    display: flex;
}

.steps .steps-container .date {
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 62px;
    height: 62px;
    background-color: var(--primary);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 777;
}

.step-line {
    width: 40px;
    background-color: #fff;
    height: 1px;
    margin-top: 31px;
    opacity: 0.4;
    flex-shrink: 0;
}

@media (max-width: 50rem) {
    .steps::after {
        left: 32px;
    }

    .steps-container {
        left: 0;
        flex-direction: row-reverse;
        width: auto;
        margin-bottom: 16px;
    }

    .steps .steps-container:nth-child(even) {
        left: 0;
    }
}