@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    outline: red dashed 1px;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344648;
    color: white;
    padding: 0.938rem;
    opacity: 1;
}

.name1 {
    margin-left: 0rem;
    font-size: 1.563rem;
    letter-spacing: 1.25rem;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav {
    margin-right: 0rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1.25rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    display: none;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 50rem) {
    nav ul {
        display: none;
    }

    .dropdown {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #344648;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: #fff;
        padding: 0.625rem;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Grid Containers */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem;
}

.grid-item {
    background-color: lightgray;
    height: 20rem;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.double-width {
    grid-column: span 2;
}

@media screen and (max-width: 50rem) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-item:nth-child(1) {
        order: 1;
    }

    .grid-item:nth-child(2) {
        order: 2;
    }

    .grid-item:nth-child(3) {
        order: 3;
    }

    .grid-item:nth-child(4) {
        order: 4;
    }

    .grid-item:nth-child(5) {
        order: 6;
    }

    .grid-item:nth-child(6) {
        order: 5;
    }

    .grid-item:nth-child(7) {
        order: 7;
    }

    .grid-item:nth-child(8) {
        order: 8;
    }

}

/* Programming skills */
.card {
    width: 55%;
    background-color: #FBE0C3;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    overflow: hidden;
    text-align: center;
}

.header {
    background-color: #344648;
    color: #fff;
    padding: 1rem;
    font-size: 1.125rem;
}

.body {
    padding: 1.25rem;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.skill-name {
    width: 33.3%;
    font-size: 1rem;
}

.skill-level {
    width: 50%;
    height: 0.625rem;
    background-color: #7D8E95;
    border-radius: 0.625rem;
    overflow: hidden;
    margin-left: 1.25rem;
}

.skill-percent {
    background-color: #344648;
    height: 100%;
}

.skill-percent-number {
    margin-left: 1.25rem;
    font-size: 1rem;
}

/* Second Card with images */
.grid-item .card-2 {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.212);
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.4s;
}

.grid-item .card-2::before {
    content: '---IoT Project---';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 0.5rem;
    left: 1.25rem;
    color: rgb(51, 51, 51);
    font-size: 1.25sem;
    font-weight: 700;
}

.grid-item.grid-item:nth-child(2) .card-2 div {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(Pruebas_arduino.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item.grid-item:nth-child(5) .card-2 div {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(paginaphp.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item.grid-item:nth-child(6) .card-2 div {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(spo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item.grid-item:nth-child(9) .card-2 div {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(pass.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item .card-2:hover div {
    transform: translateY(-2rem);
}

/* Cards with text */
.grid-item .card-3 {
    position: relative;
    width: 100%;
    height: 100%;
    background: lightgrey;
    box-shadow: #d11bff42 0 0.9375rem 2.5rem -0.3125rem;
    z-index: 1;
    border-radius: 0rem;
    overflow: hidden;
}

.grid-item .card-3 .card__content {
    background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
    z-index: 1;
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
    width: 100%;
    height: 100%;
    border-radius: 0rem;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 12%;
}

.grid-item .card-3 .blob {
    position: absolute;
    z-index: -1;
    border-radius: 5em;
    width: 12.5rem;
    height: 12.5rem;
}

.grid-item .card-3 .blob:nth-child(2) {
    left: -3.125rem;
    top: -5.625rem;
    background: #ff930f;
}

.grid-item .card-3 .blob:nth-child(3) {
    left: 6.875rem;
    top: -1.25rem;
    z-index: -1;
    background: #bf0fff;
}

.grid-item .card-3 .blob:nth-child(4) {
    left: -2.5rem;
    top: 6.25rem;
    background: #ff1b6b;
}

.grid-item .card-3 .blob:nth-child(5) {
    left: 6.25rem;
    top: 11.25rem;
    background: #0061ff;
}